<a href="https://colab.research.google.com/github/Umang212002/EDA-dataset/blob/main/DS_Project_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
import pandas as pd 
df=pd.read_csv('https://raw.githubusercontent.com/Umang212002/EDA-dataset/main/used%20car_dataset.csv')
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [117]:
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [118]:
#df = df.replace('[^d.]'," ", regex=True).astype(str)
#df

In [119]:
df.dtypes

Booking_ID                               object
no_of_adults                              int64
no_of_children                            int64
no_of_weekend_nights                      int64
no_of_week_nights                         int64
type_of_meal_plan                        object
required_car_parking_space                int64
room_type_reserved                       object
lead_time                                 int64
arrival_year                              int64
arrival_month                             int64
arrival_date                              int64
market_segment_type                      object
repeated_guest                            int64
no_of_previous_cancellations              int64
no_of_previous_bookings_not_canceled      int64
avg_price_per_room                      float64
no_of_special_requests                    int64
booking_status                           object
dtype: object

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [121]:
df.isnull

<bound method DataFrame.isnull of       Booking_ID  no_of_adults  no_of_children  no_of_weekend_nights  \
0       INN00001             2               0                     1
1       INN00002             2               0                     2
2       INN00003             1               0                     2
3       INN00004             2               0                     0
4       INN00005             2               0                     1
...          ...           ...             ...                   ...
36270   INN36271             3               0                     2
36271   INN36272             2               0                     1
36272   INN36273             2               0                     2
36273   INN36274             2               0                     0
36274   INN36275             2               0                     1

       no_of_week_nights type_of_meal_plan  required_car_parking_space  \
0                      2       Meal Plan 1                           0
1                      3      Not Selected                           0
2                      1       Meal Plan 1                           0
3                      2       Meal Plan 1                           0
4                      1      Not Selected                           0
...                  ...               ...                         ...
36270                  6       Meal Plan 1                           0
36271                  3       Meal Plan 1                           0
36272                  6       Meal Plan 1                           0
36273                  3      Not Selected                           0
36274                  2       Meal Plan 1                           0

      room_type_reserved  lead_time  arrival_year  arrival_month  \
0            Room_Type 1        224          2017             10
1            Room_Type 1          5          2018             11
2            Room_Type 1          1          2018              2
3            Room_Type 1        211          2018              5
4            Room_Type 1         48          2018              4
...                  ...        ...           ...            ...
36270        Room_Type 4         85          2018              8
36271        Room_Type 1        228          2018             10
36272        Room_Type 1        148          2018              7
36273        Room_Type 1         63          2018              4
36274        Room_Type 1        207          2018             12

       arrival_date market_segment_type  repeated_guest  \
0                 2             Offline               0
1                 6              Online               0
2                28              Online               0
3                20              Online               0
4                11              Online               0
...             ...                 ...             ...
36270             3              Online               0
36271            17              Online               0
36272             1              Online               0
36273            21              Online               0
36274            30             Offline               0

       no_of_previous_cancellations  no_of_previous_bookings_not_canceled  \
0                                 0                                     0
1                                 0                                     0
2                                 0                                     0
3                                 0                                     0
4                                 0                                     0
...                             ...                                   ...
36270                             0                                     0
36271                             0                                     0
36272                             0                                     0
36273                             0                                     0
36274                             0                                     0

       avg_price_per_room  no_of_special_requests booking_status
0                   65.00                       0   Not_Canceled
1                  106.68                       1   Not_Canceled
2                   60.00                       0       Canceled
3                  100.00                       0       Canceled
4                   94.50                       0       Canceled
...                   ...                     ...            ...
36270              167.80                       1   Not_Canceled
36271               90.95                       2       Canceled
36272               98.39                       2   Not_Canceled
36273               94.50                       0       Canceled
36274              161.67                       0   Not_Canceled

[36275 rows x 19 columns]>

In [122]:
x=df.iloc[:,2:4].values
x

array([[0, 1],
       [0, 2],
       [0, 2],
       ...,
       [0, 2],
       [0, 0],
       [0, 1]])

In [123]:
y=df.iloc[:,4].values
y

array([2, 3, 1, ..., 6, 3, 2])

In [124]:
df['booking_status'].value_counts()

Not_Canceled    24390
Canceled        11885
Name: booking_status, dtype: int64

In [125]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train ,x_test , y_train , y_test = train_test_split(x,y, random_state=0)

In [126]:
print(x.shape)
print(X_train.shape)
print(x_test.shape)

(36275, 2)
(27206, 2)
(9069, 2)

In [127]:
print(y.shape)
print(y_train.shape)
print(y_test.shape)

(36275,)
(27206,)
(9069,)

In [128]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
Categorical_features=["United Airlines - Pre 07/01/2013"]
One_Hot=OneHotEncoder()
transformer=ColumnTransformer([("One_Hot",
                                One_Hot,
                                Categorical_features)],
                              remainder='passenger')

In [129]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [130]:
df.dtypes
df

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [131]:
from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()
x_train=scalar.fit_transform(X_train)
x_train=scalar.fit_transform(x_test)

In [132]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [133]:
model.fit(x_test,y_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [134]:
y_pred=model.predict(x_test)
y_pred
y_test

array([3, 3, 2, ..., 1, 1, 3])

In [135]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

32.18656963281508

In [136]:
a=scalar.transform([[25,50000]])   # 25 age 50000 salary 
a

array([[2.50000000e+00, 8.33333333e+03]])

In [137]:
b=scalar.transform([[20,8000]])
b

array([[   2.        , 1333.33333333]])

In [138]:
model.predict(a)

array([14])

In [139]:
model.predict(b)

array([14])